version: 2
updates:
- package-ecosystem: "gitsubmodule"
  directory: "/"
  schedule:
    interval: "daily"
  open-pull-requests-limit: 100
- package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
