[submodule "zsh-completions"]
	path = zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/figitive"]
	path = vim/bundle/figitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-perl"]
	path = vim/bundle/vim-perl
	url = git://github.com/vim-perl/vim-perl.git
[submodule "vim/bundle/cbackup"]
	path = vim/bundle/cbackup
	url = git://github.com/vim-scripts/cbackup.vim.git
[submodule "vim/bundle/floobits"]
	path = vim/bundle/floobits
	url = https://github.com/Floobits/floobits-vim
[submodule "vim/bundle/numbers"]
	path = vim/bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "spark"]
	path = spark
	url = https://github.com/holman/spark.git
[submodule "vim/bundle/editorconfig"]
	path = vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
	ignore = dirty
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "tmux-colors-solarized"]
	path = tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "vim/bundle/nginx"]
	path = vim/bundle/nginx
	url = https://github.com/vim-scripts/nginx.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
