[submodule "configs/ranger-plugins/archives"]
	path = configs/ranger-plugins/archives
	url = https://github.com/maximtrp/ranger-archives.git
[submodule "env-wrappers/goenv/goenv"]
	path = env-wrappers/goenv/goenv
	url = https://github.com/syndbg/goenv.git
[submodule "env-wrappers/jenv/jenv"]
	path = env-wrappers/jenv/jenv
	url = https://github.com/jenv/jenv.git
[submodule "env-wrappers/luaenv/lua-build"]
	path = env-wrappers/luaenv/lua-build
	url = https://github.com/cehoffman/lua-build.git
[submodule "env-wrappers/luaenv/luaenv"]
	path = env-wrappers/luaenv/luaenv
	url = https://github.com/cehoffman/luaenv.git
[submodule "env-wrappers/luaenv/luaenv-luarocks"]
	path = env-wrappers/luaenv/luaenv-luarocks
	url = https://github.com/xpol/luaenv-luarocks.git
[submodule "env-wrappers/nodenv/node-build"]
	path = env-wrappers/nodenv/node-build
	url = https://github.com/nodenv/node-build.git
[submodule "env-wrappers/nodenv/nodenv"]
	path = env-wrappers/nodenv/nodenv
	url = https://github.com/nodenv/nodenv.git
[submodule "env-wrappers/nodenv/nodenv-aliases"]
	path = env-wrappers/nodenv/nodenv-aliases
	url = https://github.com/nodenv/nodenv-aliases.git
[submodule "env-wrappers/nodenv/nodenv-env"]
	path = env-wrappers/nodenv/nodenv-env
	url = https://github.com/nodenv/nodenv-env.git
[submodule "env-wrappers/nodenv/nodenv-man"]
	path = env-wrappers/nodenv/nodenv-man
	url = https://github.com/nodenv/nodenv-man.git
[submodule "env-wrappers/nodenv/nodenv-package-rehash"]
	path = env-wrappers/nodenv/nodenv-package-rehash
	url = https://github.com/nodenv/nodenv-package-rehash.git
[submodule "env-wrappers/phpenv/php-build"]
	path = env-wrappers/phpenv/php-build
	url = https://github.com/php-build/php-build.git
[submodule "env-wrappers/phpenv/phpenv"]
	path = env-wrappers/phpenv/phpenv
	url = https://github.com/phpenv/phpenv.git
[submodule "env-wrappers/phpenv/phpenv-aliases"]
	path = env-wrappers/phpenv/phpenv-aliases
	url = https://github.com/madumlao/phpenv-aliases.git
[submodule "env-wrappers/phpenv/phpenv-composer"]
	path = env-wrappers/phpenv/phpenv-composer
	url = https://github.com/ngyuki/phpenv-composer.git
[submodule "env-wrappers/plenv/perl-build"]
	path = env-wrappers/plenv/perl-build
	url = https://github.com/tokuhirom/Perl-Build.git
[submodule "env-wrappers/plenv/plenv"]
	path = env-wrappers/plenv/plenv
	url = https://github.com/tokuhirom/plenv.git
[submodule "env-wrappers/plenv/plenv-contrib"]
	path = env-wrappers/plenv/plenv-contrib
	url = https://github.com/miyagawa/plenv-contrib.git
[submodule "env-wrappers/plenv/plenv-download"]
	path = env-wrappers/plenv/plenv-download
	url = https://github.com/skaji/plenv-download.git
[submodule "env-wrappers/pyenv/pyenv"]
	path = env-wrappers/pyenv/pyenv
	url = https://github.com/yyuu/pyenv.git
[submodule "env-wrappers/pyenv/pyenv-default-packages"]
	path = env-wrappers/pyenv/pyenv-default-packages
	url = https://github.com/jawshooah/pyenv-default-packages.git
[submodule "env-wrappers/pyenv/pyenv-virtualenv"]
	path = env-wrappers/pyenv/pyenv-virtualenv
	url = https://github.com/yyuu/pyenv-virtualenv.git
[submodule "env-wrappers/rbenv/rbenv"]
	path = env-wrappers/rbenv/rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "env-wrappers/rbenv/rbenv-aliases"]
	path = env-wrappers/rbenv/rbenv-aliases
	url = https://github.com/tpope/rbenv-aliases.git
[submodule "env-wrappers/rbenv/rbenv-binstubs"]
	path = env-wrappers/rbenv/rbenv-binstubs
	url = https://github.com/ianheggie/rbenv-binstubs.git
[submodule "env-wrappers/rbenv/rbenv-chefdk"]
	path = env-wrappers/rbenv/rbenv-chefdk
	url = https://github.com/docwhat/rbenv-chefdk.git
[submodule "env-wrappers/rbenv/rbenv-ctags"]
	path = env-wrappers/rbenv/rbenv-ctags
	url = https://github.com/tpope/rbenv-ctags.git
[submodule "env-wrappers/rbenv/rbenv-default-gems"]
	path = env-wrappers/rbenv/rbenv-default-gems
	url = https://github.com/rbenv/rbenv-default-gems.git
[submodule "env-wrappers/rbenv/rbenv-env"]
	path = env-wrappers/rbenv/rbenv-env
	url = https://github.com/ianheggie/rbenv-env.git
[submodule "env-wrappers/rbenv/rbenv-man"]
	path = env-wrappers/rbenv/rbenv-man
	url = https://github.com/mlafeldt/rbenv-man.git
[submodule "env-wrappers/rbenv/ruby-build"]
	path = env-wrappers/rbenv/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "nvim/plugins/blink.cmp"]
	path = nvim/plugins/blink.cmp
	url = https://github.com/Saghen/blink.cmp.git
[submodule "nvim/plugins/codecompanion"]
	path = nvim/plugins/codecompanion
	url = https://github.com/olimorris/codecompanion.nvim.git
[submodule "nvim/plugins/codecompanion-spinner"]
	path = nvim/plugins/codecompanion-spinner
	url = https://github.com/franco-ruggeri/codecompanion-spinner.nvim.git
[submodule "nvim/plugins/committia"]
	path = nvim/plugins/committia
	url = https://github.com/rhysd/committia.vim.git
[submodule "nvim/plugins/diffview"]
	path = nvim/plugins/diffview
	url = https://github.com/sindrets/diffview.nvim.git
[submodule "nvim/plugins/fidget"]
	path = nvim/plugins/fidget
	url = https://github.com/j-hui/fidget.nvim.git
[submodule "nvim/plugins/git-rebase-auto-diff"]
	path = nvim/plugins/git-rebase-auto-diff
	url = https://github.com/yutkat/git-rebase-auto-diff.nvim.git
[submodule "nvim/plugins/gitsigns"]
	path = nvim/plugins/gitsigns
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "nvim/plugins/helm-ls"]
	path = nvim/plugins/helm-ls
	url = https://github.com/qvalentin/helm-ls.nvim.git
[submodule "nvim/plugins/indent-blankline"]
	path = nvim/plugins/indent-blankline
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule "nvim/plugins/lazydev"]
	path = nvim/plugins/lazydev
	url = https://github.com/folke/lazydev.nvim.git
[submodule "nvim/plugins/lualine"]
	path = nvim/plugins/lualine
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "nvim/plugins/markview"]
	path = nvim/plugins/markview
	url = https://github.com/OXY2DEV/markview.nvim.git
[submodule "nvim/plugins/mason"]
	path = nvim/plugins/mason
	url = https://github.com/williamboman/mason.nvim.git
[submodule "nvim/plugins/mason-lspconfig"]
	path = nvim/plugins/mason-lspconfig
	url = https://github.com/williamboman/mason-lspconfig.nvim.git
[submodule "nvim/plugins/menuet-ai"]
	path = nvim/plugins/menuet-ai
	url = https://github.com/milanglacier/minuet-ai.nvim.git
[submodule "nvim/plugins/nvim-autopairs"]
	path = nvim/plugins/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs.git
[submodule "nvim/plugins/nvim-lspconfig"]
	path = nvim/plugins/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "nvim/plugins/nvim-surround"]
	path = nvim/plugins/nvim-surround
	url = https://github.com/kylechui/nvim-surround.git
[submodule "nvim/plugins/nvim-tree"]
	path = nvim/plugins/nvim-tree
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule "nvim/plugins/nvim-treesitter"]
	path = nvim/plugins/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
	branch = main
[submodule "nvim/plugins/nvim-treesitter-textobjects"]
	path = nvim/plugins/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
	branch = main
[submodule "nvim/plugins/plenary"]
	path = nvim/plugins/plenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "nvim/plugins/reticle"]
	path = nvim/plugins/reticle
	url = https://github.com/tummetott/reticle.nvim.git
[submodule "nvim/plugins/rooter"]
	path = nvim/plugins/rooter
	url = https://github.com/wsdjeg/rooter.nvim.git
[submodule "nvim/plugins/schema-companion"]
	path = nvim/plugins/schema-companion
	url = https://github.com/cenk1cenk2/schema-companion.nvim.git
[submodule "nvim/plugins/schemastore"]
	path = nvim/plugins/schemastore
	url = https://github.com/b0o/SchemaStore.nvim.git
[submodule "nvim/plugins/solarized"]
	path = nvim/plugins/solarized
	url = https://github.com/maxmx03/solarized.nvim.git
[submodule "nvim/plugins/surround-ui"]
	path = nvim/plugins/surround-ui
	url = https://github.com/roobert/surround-ui.nvim.git
[submodule "nvim/plugins/telescope"]
	path = nvim/plugins/telescope
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "nvim/plugins/telescope-ui-select"]
	path = nvim/plugins/telescope-ui-select
	url = https://github.com/nvim-telescope/telescope-ui-select.nvim.git
[submodule "nvim/plugins/tmux"]
	path = nvim/plugins/tmux
	url = https://github.com/aserowy/tmux.nvim.git
[submodule "nvim/plugins/ts-install"]
	path = nvim/plugins/ts-install
	url = https://github.com/lewis6991/ts-install.nvim.git
[submodule "nvim/plugins/vim-fugitive"]
	path = nvim/plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/plugins/which-key"]
	path = nvim/plugins/which-key
	url = https://github.com/folke/which-key.nvim.git
[submodule "tmux/plugins/colors-solarized"]
	path = tmux/plugins/colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "tmux/plugins/prefix-highlight"]
	path = tmux/plugins/prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight.git
[submodule "tools/diff-so-fancy"]
	path = tools/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule "tools/fzf"]
	path = tools/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "tools/git-extras"]
	path = tools/git-extras
	url = https://github.com/tj/git-extras.git
[submodule "tools/git-quick-stats"]
	path = tools/git-quick-stats
	url = https://github.com/arzzen/git-quick-stats.git
[submodule "tools/httpstat"]
	path = tools/httpstat
	url = https://github.com/b4b4r07/httpstat.git
[submodule "tools/spark"]
	path = tools/spark
	url = https://github.com/holman/spark.git
[submodule "tools/spectre-meltdown-checker"]
	path = tools/spectre-meltdown-checker
	url = https://github.com/speed47/spectre-meltdown-checker
[submodule "tools/testssl.sh"]
	path = tools/testssl.sh
	url = https://github.com/drwetter/testssl.sh.git
[submodule "tools/tldr-bash-client"]
	path = tools/tldr-bash-client
	url = https://github.com/pepa65/tldr-bash-client.git
[submodule "vim/pack/01_sensible/start/sensible"]
	path = vim/pack/01_sensible/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/pack/03_plugins/start/airline"]
	path = vim/pack/03_plugins/start/airline
	url = https://github.com/bling/vim-airline
[submodule "vim/pack/03_plugins/start/airline-themes"]
	path = vim/pack/03_plugins/start/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/03_plugins/start/ansible"]
	path = vim/pack/03_plugins/start/ansible
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "vim/pack/03_plugins/start/asyncomplete"]
	path = vim/pack/03_plugins/start/asyncomplete
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "vim/pack/03_plugins/start/asyncomplete-buffer"]
	path = vim/pack/03_plugins/start/asyncomplete-buffer
	url = https://github.com/omgitsmoe/asyncomplete-buffer.vim.git
[submodule "vim/pack/03_plugins/start/asyncomplete-lsp"]
	path = vim/pack/03_plugins/start/asyncomplete-lsp
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule "vim/pack/03_plugins/start/asyncomplete-necovim"]
	path = vim/pack/03_plugins/start/asyncomplete-necovim
	url = https://github.com/prabirshrestha/asyncomplete-necovim.vim.git
[submodule "vim/pack/03_plugins/start/auto-git-diff"]
	path = vim/pack/03_plugins/start/auto-git-diff
	url = https://github.com/hotwatermorning/auto-git-diff.git
[submodule "vim/pack/03_plugins/start/brewfile"]
	path = vim/pack/03_plugins/start/brewfile
	url = https://github.com/bfontaine/Brewfile.vim.git
[submodule "vim/pack/03_plugins/start/bundler"]
	path = vim/pack/03_plugins/start/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/pack/03_plugins/start/cheat40"]
	path = vim/pack/03_plugins/start/cheat40
	url = https://github.com/lifepillar/vim-cheat40.git
[submodule "vim/pack/03_plugins/start/committia"]
	path = vim/pack/03_plugins/start/committia
	url = https://github.com/rhysd/committia.vim.git
[submodule "vim/pack/03_plugins/start/csv"]
	path = vim/pack/03_plugins/start/csv
	url = https://github.com/chrisbra/csv.vim.git
[submodule "vim/pack/03_plugins/start/cursorline-current-window"]
	path = vim/pack/03_plugins/start/cursorline-current-window
	url = https://github.com/vim-scripts/CursorLineCurrentWindow.git
[submodule "vim/pack/03_plugins/start/delimitMate"]
	path = vim/pack/03_plugins/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/pack/03_plugins/start/dockerfile"]
	path = vim/pack/03_plugins/start/dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "vim/pack/03_plugins/start/easymotion"]
	path = vim/pack/03_plugins/start/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vim/pack/03_plugins/start/editorconfig"]
	path = vim/pack/03_plugins/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/03_plugins/start/eunuch"]
	path = vim/pack/03_plugins/start/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/pack/03_plugins/start/fern"]
	path = vim/pack/03_plugins/start/fern
	url = https://github.com/lambdalisue/fern.vim.git
[submodule "vim/pack/03_plugins/start/fern-git-status"]
	path = vim/pack/03_plugins/start/fern-git-status
	url = https://github.com/lambdalisue/fern-git-status.vim.git
[submodule "vim/pack/03_plugins/start/file-line"]
	path = vim/pack/03_plugins/start/file-line
	url = https://github.com/lervag/file-line.git
[submodule "vim/pack/03_plugins/start/fugitive"]
	path = vim/pack/03_plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/03_plugins/start/fzf-vim"]
	path = vim/pack/03_plugins/start/fzf-vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/03_plugins/start/git"]
	path = vim/pack/03_plugins/start/git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/pack/03_plugins/start/gitgutter"]
	path = vim/pack/03_plugins/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/03_plugins/start/go"]
	path = vim/pack/03_plugins/start/go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/03_plugins/start/groovy"]
	path = vim/pack/03_plugins/start/groovy
	url = https://github.com/endSly/groovy.vim.git
[submodule "vim/pack/03_plugins/start/gv"]
	path = vim/pack/03_plugins/start/gv
	url = https://github.com/junegunn/gv.vim.git
[submodule "vim/pack/03_plugins/start/helm"]
	path = vim/pack/03_plugins/start/helm
	url = https://github.com/towolf/vim-helm.git
[submodule "vim/pack/03_plugins/start/indentLine"]
	path = vim/pack/03_plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/pack/03_plugins/start/is"]
	path = vim/pack/03_plugins/start/is
	url = https://github.com/haya14busa/is.vim.git
[submodule "vim/pack/03_plugins/start/javascript"]
	path = vim/pack/03_plugins/start/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/pack/03_plugins/start/jenkinsfile"]
	path = vim/pack/03_plugins/start/jenkinsfile
	url = https://github.com/martinda/Jenkinsfile-vim-syntax.git
[submodule "vim/pack/03_plugins/start/json"]
	path = vim/pack/03_plugins/start/json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/pack/03_plugins/start/jsonnet"]
	path = vim/pack/03_plugins/start/jsonnet
	url = https://github.com/partcyborg/vim-jsonnet.git
[submodule "vim/pack/03_plugins/start/listtoggle"]
	path = vim/pack/03_plugins/start/listtoggle
	url = https://github.com/Valloric/ListToggle.git
[submodule "vim/pack/03_plugins/start/localvimrc"]
	path = vim/pack/03_plugins/start/localvimrc
	url = https://github.com/embear/vim-localvimrc
[submodule "vim/pack/03_plugins/start/log-highlighting"]
	path = vim/pack/03_plugins/start/log-highlighting
	url = https://github.com/MTDL9/vim-log-highlighting.git
[submodule "vim/pack/03_plugins/start/logrotate"]
	path = vim/pack/03_plugins/start/logrotate
	url = https://github.com/moon-musick/vim-logrotate.git
[submodule "vim/pack/03_plugins/start/logstash"]
	path = vim/pack/03_plugins/start/logstash
	url = https://github.com/robbles/logstash.vim.git
[submodule "vim/pack/03_plugins/start/lua"]
	path = vim/pack/03_plugins/start/lua
	url = https://github.com/tbastos/vim-lua.git
[submodule "vim/pack/03_plugins/start/markdown"]
	path = vim/pack/03_plugins/start/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/pack/03_plugins/start/monit"]
	path = vim/pack/03_plugins/start/monit
	url = https://github.com/tmatilai/vim-monit.git
[submodule "vim/pack/03_plugins/start/neco-vim"]
	path = vim/pack/03_plugins/start/neco-vim
	url = https://github.com/Shougo/neco-vim.git
[submodule "vim/pack/03_plugins/start/nerdcommenter"]
	path = vim/pack/03_plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/pack/03_plugins/start/nginx"]
	path = vim/pack/03_plugins/start/nginx
	url = https://github.com/chr4/nginx.vim.git
[submodule "vim/pack/03_plugins/start/perl"]
	path = vim/pack/03_plugins/start/perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule "vim/pack/03_plugins/start/php"]
	path = vim/pack/03_plugins/start/php
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "vim/pack/03_plugins/start/python-pep8-indent"]
	path = vim/pack/03_plugins/start/python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "vim/pack/03_plugins/start/python-syntax"]
	path = vim/pack/03_plugins/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule "vim/pack/03_plugins/start/rbenv"]
	path = vim/pack/03_plugins/start/rbenv
	url = https://github.com/tpope/vim-rbenv.git
[submodule "vim/pack/03_plugins/start/rhubarb"]
	path = vim/pack/03_plugins/start/rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "vim/pack/03_plugins/start/rooter"]
	path = vim/pack/03_plugins/start/rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "vim/pack/03_plugins/start/rspec"]
	path = vim/pack/03_plugins/start/rspec
	url = https://github.com/keith/rspec.vim.git
[submodule "vim/pack/03_plugins/start/ruby"]
	path = vim/pack/03_plugins/start/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/pack/03_plugins/start/sh"]
	path = vim/pack/03_plugins/start/sh
	url = https://github.com/arzg/vim-sh.git
[submodule "vim/pack/03_plugins/start/sh-indent"]
	path = vim/pack/03_plugins/start/sh-indent
	url = https://github.com/chrisbra/vim-sh-indent.git
[submodule "vim/pack/03_plugins/start/smoothie"]
	path = vim/pack/03_plugins/start/smoothie
	url = https://github.com/psliwka/vim-smoothie.git
[submodule "vim/pack/03_plugins/start/solarized8"]
	path = vim/pack/03_plugins/start/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "vim/pack/03_plugins/start/startify"]
	path = vim/pack/03_plugins/start/startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "vim/pack/03_plugins/start/surround"]
	path = vim/pack/03_plugins/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/03_plugins/start/systemd-syntax"]
	path = vim/pack/03_plugins/start/systemd-syntax
	url = https://github.com/Matt-Deacalion/vim-systemd-syntax.git
[submodule "vim/pack/03_plugins/start/tabular"]
	path = vim/pack/03_plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/03_plugins/start/terminus"]
	path = vim/pack/03_plugins/start/terminus
	url = https://github.com/wincent/terminus.git
[submodule "vim/pack/03_plugins/start/terraform"]
	path = vim/pack/03_plugins/start/terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/pack/03_plugins/start/test"]
	path = vim/pack/03_plugins/start/test
	url = https://github.com/janko-m/vim-test.git
[submodule "vim/pack/03_plugins/start/tmux"]
	path = vim/pack/03_plugins/start/tmux
	url = https://github.com/ericpruitt/tmux.vim.git
[submodule "vim/pack/03_plugins/start/undotree"]
	path = vim/pack/03_plugins/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim/pack/03_plugins/start/vim-lsp"]
	path = vim/pack/03_plugins/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "vim/pack/03_plugins/start/vim-lsp-settings"]
	path = vim/pack/03_plugins/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
[submodule "vim/pack/03_plugins/start/which-key"]
	path = vim/pack/03_plugins/start/which-key
	url = https://github.com/liuchengxu/vim-which-key.git
[submodule "vim/pack/03_plugins/start/wilder"]
	path = vim/pack/03_plugins/start/wilder
	url = https://github.com/gelguy/wilder.nvim.git
[submodule "yazi/plugins/githead.yazi"]
	path = yazi/plugins/githead.yazi
	url = https://github.com/llanosrocas/githead.yazi.git
[submodule "yazi/yazi-rs-plugins"]
	path = yazi/yazi-rs-plugins
	url = https://github.com/yazi-rs/plugins.git
[submodule "zsh/plugins/abbr"]
	path = zsh/plugins/abbr
	url = https://github.com/olets/zsh-abbr.git
[submodule "zsh/plugins/archive"]
	path = zsh/plugins/archive
	url = https://github.com/romkatv/archive.git
[submodule "zsh/plugins/autoenv"]
	path = zsh/plugins/autoenv
	url = https://github.com/Tarrasch/zsh-autoenv.git
[submodule "zsh/plugins/autopair"]
	path = zsh/plugins/autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule "zsh/plugins/autosuggestions"]
	path = zsh/plugins/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/autosuggestions-abbreviations-strategy"]
	path = zsh/plugins/autosuggestions-abbreviations-strategy
	url = https://github.com/olets/zsh-autosuggestions-abbreviations-strategy.git
[submodule "zsh/plugins/completions"]
	path = zsh/plugins/completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/plugins/defer"]
	path = zsh/plugins/defer
	url = https://github.com/romkatv/zsh-defer.git
[submodule "zsh/plugins/fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "zsh/plugins/git-completion"]
	path = zsh/plugins/git-completion
	url = https://github.com/felipec/git-completion.git
[submodule "zsh/plugins/iterm2-shell-integration"]
	path = zsh/plugins/iterm2-shell-integration
	url = https://github.com/gnachman/iTerm2-shell-integration.git
[submodule "zsh/plugins/powerlevel10k"]
	path = zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/plugins/syntax-highlighting"]
	path = zsh/plugins/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/z"]
	path = zsh/plugins/z
	url = https://github.com/agkozak/zsh-z.git
