[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/figitive"]
	path = vim/bundle/figitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-perl"]
	path = vim/bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule "vim/bundle/cbackup"]
	path = vim/bundle/cbackup
	url = https://github.com/vim-scripts/cbackup.vim.git
[submodule "vim/bundle/numbers"]
	path = vim/bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "spark"]
	path = spark
	url = https://github.com/holman/spark.git
[submodule "vim/bundle/editorconfig"]
	path = vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
	ignore = dirty
[submodule "tmux-colors-solarized"]
	path = tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "vim/bundle/nginx"]
	path = vim/bundle/nginx
	url = https://github.com/z0rc/nginx-vim-syntax.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/indentLine"]
	path = vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "mongo-hacker"]
	path = mongo-hacker
	url = https://github.com/TylerBrock/mongo-hacker.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "MySQLTuner-perl"]
	path = MySQLTuner-perl
	url = https://github.com/major/MySQLTuner-perl.git
[submodule "zsh-history-substring-search"]
	path = zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "k"]
	path = k
	url = https://github.com/supercrabtree/k.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions.git
[submodule "vim/bundle/vim-ansible-yaml"]
	path = vim/bundle/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/Dockerfile"]
	path = vim/bundle/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "vim/bundle/nerdtree-git-plugin"]
	path = vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
