vim/spell/*.add*
vim/.netrwhist*
vim/autoload/getopts/*.cache
vim/.viminfo*
vim/vimrc.local

nvim/init/0[1-9]_*
nvim/init/9[0-9]_*

zsh/rc.d/9[0-9]_*
zsh/env.d/9[0-9]_*
zsh/.zlogin
zsh/.zlogout

configs/ranger-plugins/__init__.py
configs/ranger-plugins/__pycache__
